/********* Footer *********/

/********* Footer Section Start *********/
.al-footer-section {
    background-color: #0D0D0D;
    padding: 99px 0 63px 0;

    @include screen-768 {
        padding: 60px 0 40px 0;
    }
    @include portrait-phone {
        padding: 30px 0;
    }
}

.al-footer-widget-title {
    h5 {
        font-size: 24px;
        line-height: 40px;
        color: var(--white-color);
        font-weight: 700;
    }
}

.al-footer-widget-content {
    li {
        a {
            font-size: 20px;
            line-height: 50px;
            color: var(--white-color);
            text-decoration: underline;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

.al-footer-form {
    form {
        position: relative;
        max-width: 468px;
        width: 100%;

        input {
            background-color: #1E2024;
            color: var(--white-color);
            border-radius: 90px;
            padding: 12px 24px;
            border: none;
            outline: none;
            width: 100%;
        }
    }
}

.al-footer-form-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 29px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    right: -1px;
    top: 0;
    border-radius: 90px;
    transition: 0.3s;
    &:hover {
        background-color: #535353;
    }

    @include portrait-phone {
        padding: 16px 10px;
        font-size: 14px;
    }
}

.al-footer-newsletter-title {
    margin-bottom: 20px;

    h6 {
        color: var(--white-color);
        line-height: 40px;
    }
}

.al-footer-social-title {
    margin-bottom: 20px;

    h6 {
        color: var(--white-color);
        line-height: 40px;
    }
}

.al-footer-social {
    ul {
        gap: 20px;

        li {
            a {
                i {
                    font-size: 30px;
                    color: var(--white-color);
                    transition: 0.3s;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}

/********* Footer Section End *********/