/******Home Page*********/

/******Hero Section Start*********/
.al-hero-section {
    position: relative;
    margin-top: -95px;

    @include screen-1400 {
        margin-top: -100px;
    }
}

.al-hero-content {
    background: linear-gradient(180deg, #020817 0%, #0B2B7D 100%);
    padding: 120px 0 75px 0;
    border-radius: 24px;
    text-align: center;

    @include screen-1400 {
        padding: 120px 120px 75px 120px;
    }

    @include large-screen {
        padding: 120px 60px 75px 60px;
    }

    @include screen-768 {
        padding: 100px 10px 40px 10px;
    }
}

.al-hero-title {
    h1 {
        max-width: 928px;
        margin: 0 auto;
        color: var(--white-color);
        line-height: 58px;

        @include large-screen {
            font-size: 43px;
        }

        @include screen-768 {
            font-size: 35px;
            line-height: 38px;
        }

        @include portrait-phone {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.al-hero-subtitle {
    margin-top: 24px;
    margin-bottom: 28px;

    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        max-width: 711px;
        margin: 0 auto;
        color: var(--white-color);

        @include screen-768 {
            font-size: 16px;
        }
    }
}

.al-hero-form {
    form {
        position: relative;
        max-width: 833px;
        width: 100%;
        margin: 0 auto;

        input {
            border-radius: 90px;
            padding: 12px 170px 12px 24px;
            border: 0;
            outline: 0;
            width: 100%;

            @include portrait-phone {
                padding: 12px;
            }
        }
    }
}

.al-hero-form-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 29px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    position: absolute;
    right: -1px;
    top: 0;
    border-radius: 90px;
    border: none;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
    }

    @include portrait-phone {
        padding: 16px 10px;
        font-size: 14px;
    }
}

/******Hero Section End*********/

/******Map Section Start*********/
.al-map-section {
    padding: 32px 0 106px 0;

    @include screen-768 {
        padding: 32px 0;
    }
}

.al-map-top {
    gap: 10px;

    @include screen-992 {
        display: block !important;
        text-align: center !important;

    }
}

.al-map-select-group {
    gap: 15px;
}

.al-map-select-content {

    select {
        padding: 11px 17px;
        border-radius: 80px;
        font-size: 16px;
        font-weight: 600;
        color: var(--primary-color);
        background-color: transparent;
        border: 1px solid #D1D1D1;
        transition: 0.3s;

        option {
            border: none;
            outline: none;
        }
    }
}

.map {
    margin-top: 20px;

    iframe {
        width: 100%;
        height: 644px;
        border-radius: 20px;

        @include screen-768 {
            height: 500px;
        }

        @include portrait-phone {
            height: 450px;
        }
    }
}

.al-map-nav {
    display: flex;
    background-color: rgba(187, 187, 187, 0.12);
    border-radius: 60px;
    padding: 4px;
    max-width: 523px;
    width: 100%;

    @include screen-992 {
        margin: 0 auto;
    }

    @include portrait-phone {
        max-width: 370px;
    }
}

.al-map-btn {
    background: transparent;
    border: none;
    padding: 7px 60px;
    margin: 4px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: 600;
    color: #898989;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    @include portrait-phone {
        padding: 7px 30px;
    }
}

.al-map-btn.active {
    background-color: var(--white-color);
    border: 1px solid rgba(82, 82, 82, 0.12);
    color: var(--primary-color);
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.al-map-nav-btn.active {
    background-color: var(--white-color);
    border: 1px solid rgba(82, 82, 82, 0.12);
    color: var(--primary-color);
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.map-content {
    display: none;
    max-width: 100%;
}

.map-content.active {
    display: block;
}

/******Map Section End*********/

/******Change Section Start*********/
.al-change-section {
    padding: 0 0 90px 0;

    @include screen-768 {
        padding: 0 0 56px 0;
    }

    @include portrait-phone {
        padding: 0 0 20px 0;
    }
}

.al-change-title {
    h2 {
        line-height: 52px;
        max-width: 550px;

        @include screen-1100 {
            font-size: 45px;
        }

        @include screen-992 {
            max-width: 100%;
        }

        @include portrait-phone {
            font-size: 23px;
            line-height: 30px;
        }
    }
}

.al-change-subtitle {
    p {
        font-size: 20px;
        line-height: 24px;
        max-width: 550px;
        color: #535353;
        margin-top: 10px;
        margin-bottom: 20px;

        @include screen-992 {
            max-width: 100%;
        }

        @include portrait-phone {
            font-size: 19px;
        }
    }
}

.al-change-card {
    margin-bottom: 20px;
}

.al-change-item {
    gap: 20px;
    margin-bottom: 20px;

    @include portrait-phone {
        gap: 10px;
        margin-bottom: 10px;
    }
}

.al-change-item:last-child {
    margin-bottom: 0;
}

.al-change-item-icon {
    span {
        width: 24px;
        height: 24px;
        background-color: var(--secondary-color);
        color: var(--white-color);
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 12px;
        }
    }
}

.al-change-item-content {
    span {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        display: inline-block;
        max-width: 415px;

        @include portrait-phone {
            font-size: 16px;
        }
    }
}

.al-change-btn-group {
    gap: 12px;
}

.al-change-button {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    padding: 18px 34px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 90px;
    box-shadow: inset 0px -3px 10.5px #7A8BFE;

    @include portrait-phone {
        padding: 16px;
        font-size: 16px;
    }

    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        box-shadow: none;
    }
}

.al-change-button-two {
    background-color: var(--primary-color);
    box-shadow: none;
    transition: 0.3s;

    &:hover {
        background-color: var(--secondary-color);
    }
}

.al-change-thumb {
    img {
        min-height: 633px;
        height: 100px;
        object-fit: cover;
        border-radius: 24px;

        @include screen-992 {
            width: 100%;
            min-height: 500px;
        }
    }
}

/******Change Section End*********/

/******About Section Start*********/
.al-about-section {
    padding: 90px 0;

    @include screen-768 {
        padding: 56px 0;
    }

    @include portrait-phone {
        padding: 20px 0;
    }
}

.al-about-meta {
    background-color: #0D0D0D;
    padding: 8px;
    border-radius: 34px;
}

.al-about-content {
    background-color: #1E2024;
    padding: 110px 31px 110px 70px;
    border-radius: 24px;

    @include screen-1300 {
        padding: 110px 30px 110px 30px;
    }

    @include screen-992 {
        padding: 30px;
    }

    @include portrait-phone {
        padding: 10px;
    }
}

.al-about-title {
    h2 {
        line-height: 52px;
        max-width: 550px;
        color: var(--white-color);

        @include large-screen {
            font-size: 49px;
        }

        @include screen-992 {
            max-width: 100%;
        }

        @include portrait-phone {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

.al-about-subtitle {
    p {
        font-size: 20px;
        line-height: 24px;
        max-width: 550px;
        color: var(--white-color);
        margin-top: 10px;
        margin-bottom: 20px;

        @include large-screen {
            font-size: 16px;
        }

        @include screen-992 {
            max-width: 100%;
        }
    }
}

.al-about-card {
    margin-bottom: 20px;
}

.al-about-item {
    gap: 20px;
    margin-bottom: 20px;

    @include portrait-phone {
        gap: 10px;
        margin-bottom: 10px;
    }
}

.al-about-item:last-child {
    margin-bottom: 0;
}

.al-about-item-icon {
    span {
        width: 24px;
        height: 24px;
        background-color: var(--secondary-color);
        color: var(--white-color);
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 12px;
        }
    }
}

.al-about-item-content {
    span {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        display: inline-block;
        max-width: 550px;
        color: var(--white-color);

        @include portrait-phone {
            font-size: 16px;
        }
    }
}

.al-about-btn-group {
    gap: 12px;
    display: flex;

    @include screen-460 {
        gap: 6px;
    }
}

.al-about-gradient {
    display: inline-block;
    padding: 9px 20px;
    border: 2px solid transparent;
    border-radius: 90px;
    background-image: linear-gradient(#535353, #535353),
        linear-gradient(90deg, #909A9D 0%, #4E4F5C 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    padding: 18px 34px;

    @include screen-1260 {
        padding: 4px 10px;
        font-size: 13px;
    }

    @include screen-400 {
        padding: 6px 8px;
        font-size: 13px;
    }
}

.al-about-button {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    padding: 18px 34px;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white-color);
    border-radius: 90px;
    transition: 0.3s;

    &:hover {
        background-color: var(--secondary-color);
    }

    @include large-screen {
        padding: 18px 13px;
        font-size: 16px;
    }

    @include screen-460 {
        padding: 10px;
        font-size: 14px;
    }
}

.al-about-button-two {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    padding: 18px 34px;
    color: var(--white-color);
    border-radius: 90px;
    background-color: var(--secondary-color);
    box-shadow: inset 0px -6px 16.9px #5188FE;
    transition: 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: none;
    }

    @include large-screen {
        padding: 18px 13px;
        font-size: 16px;
    }

    @include screen-460 {
        padding: 10px;
        font-size: 14px;
    }
}

.al-about-thumb {
    background: linear-gradient(180deg, #121827 0%, rgba(41, 49, 233, 0.2) 100%);
    border-radius: 26px;
    text-align: center;
    padding: 80px 0 0 0;
    margin-bottom: 10px;

    @include portrait-phone {
        padding: 30px 10px 0 10px;
    }
}

.al-about-charge {
    padding: 24px;
    background: linear-gradient(99.49deg, #0151FD 0%, #5188FE 100%);
    border: 0.4px solid #2D2D2D;
    border-radius: 26px;
}

.al-about-charge-btn {
    a {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        padding: 8px 12px;
        background-color: var(--white-color);
        color: var(--primary-color);
        border-radius: 90px;
        transition: 0.3s;

        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}

.al-about-charge-title {
    margin-top: 15px;
    margin-bottom: 12px;

    h4 {
        font-weight: 500;
        line-height: 20px;
        color: var(--white-color);

        @include portrait-phone {
            font-size: 22px;
        }
    }
}

.al-about-charge-subtitle {
    margin-bottom: 12px;

    p {
        font-weight: 500;
        line-height: 20px;
        color: var(--white-color);

        @include portrait-phone {
            font-size: 14px;
        }
    }

    @include portrait-phone {
        margin-bottom: 6px;
    }
}

.al-about-charge-partir {
    h5 {
        font-weight: 500;
        line-height: 52px;
        color: var(--white-color);

        @include portrait-phone {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.al-about-charge-number {
    h2 {
        font-weight: 500;
        line-height: 40px;
        color: var(--white-color);

        @include portrait-phone {
            font-size: 30px;
        }
    }
}

/******About Section End*********/

/******Faq Section Start*********/
.al-faq-section {
    padding: 90px 0 180px 0;

    @include screen-768 {
        padding: 30px 0;
    }
}

.al-faq-title {
    h2 {
        line-height: 52px;

        @include screen-992 {
            font-size: 40px;
            line-height: 40px;
        }

        @include portrait-phone {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

.al-faq-subtitle {
    margin-top: 20px;
    margin-bottom: 40px;

    p {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;

        @include portrait-phone {
            font-size: 16px;
        }
    }
}

.al-faq-accordion {
    max-width: 680px;
    margin: 0 auto;

    .accordion-item {
        border: none;
        margin-bottom: 14px;

        .accordion-header {
            .accordion-button {
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                padding: 26px 29px 26px 25px;
                background: #FBFBFB;
                color: var(--primary-color);
                outline: 0;
                border-radius: 20px;

                &::after {
                    content: "\f105";
                    font-family: "FontAwesome";
                    font-size: 24px;
                    background: transparent;
                    color: var(--primary-color);
                    transform: rotate(90deg);
                }

                @include portrait-phone {
                    font-size: 18px;
                }
            }

            .accordion-button:focus {
                box-shadow: none;
            }

            .accordion-button:not(.collapsed) {
                color: var(--primary-color);
                box-shadow: none;
                border-radius: 20px 20px 0 0;
            }

            .accordion-button:not(.collapsed)::after {
                transform: rotate(0deg) !important;
            }
        }

        .accordion-body {
            color: var(--primary-color);
            background: #FBFBFB;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 0 0 20px 20px;
        }
    }
}

.accordion-item:last-child {
    margin-bottom: 0;
}

.al-faq-btn {
    a {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        padding: 16px 38px;
        background-color: var(--secondary-color);
        color: var(--white-color);
        border-radius: 90px;
        transition: 0.3s;

        &:hover {
            background-color: var(--primary-color);
        }

        @include portrait-phone {
            font-size: 16px;
            padding: 16px 20px;
        }
    }
}

/******Faq Section End*********/